Django==5.2
celery==5.5.1
redis==5.2.1
scapy==2.6.1
pyshark==0.6
pandas==2.2.3
numpy==2.2.4
scipy==1.15.2
matplotlib==3.10.1
seaborn==0.13.2
tqdm==4.67.1
flower==2.0.1
celery==5.5.1
django-celery-results==2.6.0